<main>
    <div><h1>Restaurants</h1></div>
    <h2>List of restaurants:</h2>
    <ul>
        <li><a href="/restaurant1">Restaurant 1</a></li>
        <li>Restaurant 2</li>
        <li>Restaurant 3</li>
    </ul>
    <footer>{{date}}</footer>
</main>