<main>
    <div><h1>Restaurant 1</h1></div>
    <img src="https://images.adsttc.com/media/images/5e4c/1025/6ee6/7e0b/9d00/0877/slideshow/feature_-_Main_hall_1.jpg?1582043123" alt="Restaurant Picture" width="850" height="600">
    <h2>Some information about the restaurant</h2>
</main>
